@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

header {
    width: 100%;
    max-width: 100%;
    padding-left: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1000;
    background: transparent;
}
header nav a{
    color: #000000;
    margin-right: 40px;
    padding: 5px 10px;
    font-size: 16px;
    transition: 0.2s;
    text-decoration: none;
}

a.active{
    background: #797171;
    border-radius: 2px;
}

a:hover{
    background: #727171;
}
/* header end here*/



/* Carousel*/

.carousel{
    width:100vw;
    height:100vh;
    margin-top: -50px;
    overflow: hidden;
    position: relative;
}

.carousel.list.item{
    width: 180px;
    height: 250px;
    position: absolute;
    top: 80%;
    transform: translate(70%);
    

}






